/* =========================
   BOUTONS
   ========================= */

.btn-primary {
    display: block;
    width: 100%;
    padding: 12px 24px;
    border-radius: 8px;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-surface);
    box-shadow: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:focus-visible,
.btn-primary:active {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-surface);
    box-shadow: none;
}

.btn-primary.bold {
    font-size: 16px;
    font-weight: 700;
}

.btn-primary.semibold {
    font-size: 20px;
    font-weight: 600;
}

.btn-secondary {
    padding: 12px 16px;
    border-radius: 12px;
    background-color: var(--color-secondary);
    border-color: var(--color-primary);
    color: var(--color-primary);
    font-size: 16px;
    font-weight: 400;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:focus-visible,
.btn-secondary:active {
    background-color: var(--color-primary);
    color: var(--color-surface);
}

.btn-secondary:focus-visible {
    border-color: var(--color-secondary);
    box-shadow: none;
}


/* =========================
   BOUTONS — DESKTOP
   ========================= */

@media (min-width: 992px) {

    .btn-primary {
        width: auto;
    }
}