.hero {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
    background-image: url(../img/ImageHero.png);
    background-size: cover;
    color: var(--color-surface);
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.hero > * {
    position: relative;
    z-index: 1;
}

.titre-h1 {
    font-size: 64px;
    font-weight: 700;
}

.slogan {
    font-size: 20px;
    font-weight: 600;
}