.site-header{
    background-color: var(--color-surface);
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.05);
}

.navbar-brand img {
    height: 150px;
}

@media (min-width: 992px) {
    .navbar-brand img {
        height: 120px;
    }
}