.site-header{
    background-color: var(--color-surface);
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.05);
}

.navbar-brand img {
    height: 150px;
}

.nav-link {
    color: var(--color-primary);
    font-size: 32px;
    font-weight: 600;
    box-shadow: none;
    text-align: center;
}

.nav-link:hover {
    background-color: var(--color-primary);
    color: var(--color-surface);
    border-radius: 8px;
}

.navbar-nav .nav-link.active {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    box-shadow: none;
} 

@media (min-width: 992px) {
    .navbar-brand img {
        height: 120px;
    }

    .nav-link {
        font-size: 24px;
    }
}