:root {
    /* Couleurs */
    --color-primary: #7A1E2B;
    --color-secondary: #F5EFE6;

    --color-text--primary: #333333;
    --color-text-secondary: #666666;

    --color-background: #FCFBF9;
    --color-background-alt: #F5EFE6;

    --color-surface: #FFFFFF;
    --color-border: #E7E0D6;
    --color-dark: #1F1F1F;

    /* Espacements */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-2xl: 48px;
    --spacing-3xl: 64px;

    /* Rayons */
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;
    --radius-xl: 24px;

    /* Typographie */
    --font-family-base: "Roboto", sans-serif;

}

* {
        box-sizing: border-box;
}